@tailwind base;

@tailwind components;

@tailwind utilities;

body,
html {
  direction: ltr;
  min-height: 100%;
}

html {
  display: flex;
  flex-direction: column;
}

body,
body > div,
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.score-container {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .text-shadow {
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
} */

.form-checkbox {
  border-color: #d1d5db;
  border-width: 1px;
  border-radius: 0.25rem;
}

.form-select {
  border-color: #d1d5db;
  border-width: 1px;
  border-radius: 0.25rem;
}

.sparkline-container.absolute {
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

.sparkline {
  stroke: rgb(157 204 255);
  fill: rgba(27, 83, 163, 0.3);
}

/* change the spot color */
.sparkline--spot {
  stroke: blue;
  fill: blue;
}

/* change the cursor color */
.sparkline--cursor {
  stroke: orange;
}

/* style fill area and line colors using specific class name */
.sparkline--fill {
  fill: rgb(226 240 255);
}

.tooltip {
  position: absolute;
    background: rgb(145 150 155);
    border-radius: 0.25rem;
    color: #fff;
    padding: 2px 5px;
    font-size: 10px;
    white-space: nowrap;
    z-index: 9999;
}

.before-nip::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 2.5rem;
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  @apply bg-gray-100;
}
