@tailwind base;

@tailwind components;

@tailwind utilities;

body, html {
  direction: ltr;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body > div,
.main {
  height: 100%;
}

.score-container {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
